nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    background: rgb(83, 83, 83);
    color: gold;
}

.navLinks {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
}

.navRefs {
    color: white;
}